.libraryContainer {
  max-height: 90vh;
  overflow-y: auto;
}

.booksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 1.5em;
  row-gap: 1.5em;
  margin-bottom: 1.25em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-right: 0.25em;
  overflow-y: auto;
}
