.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 60vh;
  padding-left: 3rem;
  padding-right: 3rem;
}

.loginInputsContainer {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.loginButtons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 3rem;
}
