.seriesManagerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1.5em;
  /* border: 1px solid tomato; */
}

.seriesListContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 1px solid var(--secondary-foreground);
  border-radius: 20px;
  padding: 0.75em;
  overflow-y: auto;
}

.seriesHeader {
  text-align: center;
}

.addSeriesRow {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-top: 1em;
  margin-left: 0.5em;
}
