@layer base {
  :root {
    --base-size: 1rem;
    --scale: 1.25;
    --h1: calc(var(--h2) * var(--scale));
    /* 3.66rem */
    --h2: calc(var(--h3) * var(--scale));
    /* 2.93rem */
    --h3: calc(var(--h4) * var(--scale));
    /* 2.34rem */
    --h4: calc(var(--h5) * var(--scale));
    /* 1.875rem */
    --h5: calc(var(--h6) * var(--scale));
    /* 1.5rem */
    --h6: var(--base-size);
    /* 1.2rem */
    --small: calc(var(--base-size) / var(--scale));
    --xSmall: calc(var(--small) / var(--scale));
    /* 0.96rem */

    --background: #f7e6ca;
    --foreground: #0a0a0a;
    --card: #faf1e2;
    --card-elevated: #e8d3b0;
    --card-foreground: #0a0a0a;
    --select-color: #00bf23;

    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
      0.4px 0.3px 0.4px hsl(var(--shadow-color) / 0.18),
      1.1px 0.9px 1.1px -4.6px hsl(var(--shadow-color) / 0.09);
    --shadow-elevation-medium:
      0.4px 0.3px 0.4px hsl(var(--shadow-color) / 0.16),
      1.1px 0.9px 1.1px -2.3px hsl(var(--shadow-color) / 0.11),
      5.7px 4.5px 5.8px -4.6px hsl(var(--shadow-color) / 0.06);
    --shadow-elevation-high:
      0.4px 0.3px 0.4px hsl(var(--shadow-color) / 0.15),
      0.7px 0.6px 0.7px -0.9px hsl(var(--shadow-color) / 0.13),
      2px 1.6px 2.1px -1.9px hsl(var(--shadow-color) / 0.1),
      5.3px 4.2px 5.4px -2.8px hsl(var(--shadow-color) / 0.08),
      11.5px 9.2px 11.8px -3.7px hsl(var(--shadow-color) / 0.06),
      21.9px 17.4px 22.4px -4.6px hsl(var(--shadow-color) / 0.03);
    --menu-background: #faf1e298;
    --popover: #faf1e2;
    --popover-foreground: #0a0a0a;
    --primary: #de9e27;
    --primary-foreground: #fafafa;
    --secondary: #d7c39d;
    --secondary-foreground: #171717;
    --muted: #fdebc8;
    --muted-foreground: #737373;
    --accent: #faf5ec;
    --accent-foreground: #171717;
    --destructive: #e7000b;
    --border: #c8bdb1;
    --input: #d0c3af;
    --ring: oklch(45.678% 0.00005 271.152);
    --radius: 0.225rem;
    --sidebar: #faf1e2;
    --sidebar-foreground: #0a0a0a;
    --sidebar-primary: #f4bd57;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f5f5f5;
    --sidebar-accent-foreground: #171717;
    --sidebar-border: #e5e5e5;
    --sidebar-ring: #a1a1a1;
  }

  .dark {
    --background: oklch(20.664% 0.00904 75.082);
    --foreground: oklch(0.985 0 0);
    --shadow-color: 0deg 100% 100%;
    --card: oklch(49.133% 0.02929 86.876);
    --card-elevated: oklch(46.23% 0.05066 86.811);
    --card-foreground: oklch(0.985 0 0);
    --shadow-color: 0deg 100% 100%;
    --popover: oklch(49.133% 0.02929 86.876);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(59.226% 0.11396 77.691);
    --select-color: rgb(0, 80, 15);
    --primary-foreground: oklch(94.611% 0.00011 271.152);
    --secondary: oklch(47.673% 0.05593 83.219);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(63.95% 0.00836 16.898);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(39.044% 0.02505 81.568);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(47.725% 0.05315 76.644);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: oklch(0.205 0 0);
    --radius: 0.225rem;
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(65.429% 0.12724 77.572);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  html,
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* height: 100%;
    overflow: hidden; */
  }

  h1 {
    font-size: var(--h1);
  }
  h2 {
    font-size: var(--h2);
  }
  h3 {
    font-size: var(--h3);
  }
  h4 {
    font-size: var(--h4);
  }
  h5 {
    font-size: var(--h5);
  }
  h6 {
    font-size: var(--h6);
  }

  .primaryContainer {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .pageContent {
    position: relative;
    height: 100vh;
    width: 100vw;
    min-height: 0;
    overflow: hidden;
  }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
  .pageContent {
    padding-top: 1.5em;
  }
}
