.inReaderTopBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  gap: 0.5em;
  padding-top: calc(0.5em + env(safe-area-inset-bottom));
  background: var(--menu-background);
  backdrop-filter: blur(4px);
  box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.15);
}

.inReaderTopBarControls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5em;
  align-items: center;
  padding-top: 0.5em;
}
