.inReaderBottomBar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inReaderBottomBarContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--lightText);
}
