.inReaderTopBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  border: 1px solid pink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
