@layer base {
  .readerOuterWrapper {
    position: relative;
    width: 100%;
    height: 100dvh;
    overscroll-behavior: none;
  }

  .readerTextArea {
    position: relative;
    width: 100%;
    height: 100%;
    touch-action: none;
    overscroll-behavior: none;
    padding-bottom: 1em;
    padding-top: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    box-sizing: border-box;
    touch-action: pan-y;
    overflow: hidden;
  }

  .readerPrevious {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    cursor: pointer;
    z-index: 12;
  }

  .readerCenter {
    position: absolute;
    top: 0;
    left: 30%;
    width: 40%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
  }

  .readerNext {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    cursor: pointer;
    z-index: 12;
  }

  .readerTextArea {
    position: relative;
    overflow: hidden;
  }

  .readerTextArea.turn-next-out {
    animation: turnNextOut 200ms ease forwards;
  }
  .readerTextArea.turn-prev-out {
    animation: turnPrevOut 200ms ease forwards;
  }
  .readerTextArea.turn-next-in {
    animation: turnNextIn 200ms ease forwards;
  }
  .readerTextArea.turn-prev-in {
    animation: turnPrevIn 200ms ease forwards;
  }

  @keyframes turnNextOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes turnPrevOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  @keyframes turnNextIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes turnPrevIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
  .readerOuterWrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overscroll-behavior: none;
  }

  .readerTextArea {
    position: relative;
    width: 100%;
    height: 100%;
    touch-action: pan-y;
    overscroll-behavior: contain;
    box-sizing: border-box;
    padding-top: calc(1em + env(safe-area-inset-top));
    padding-bottom: calc(1em + env(safe-area-inset-bottom));
  }
}
