# Visual Studio and .NET build artifacts
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.resharper
*.bak

# NuGet packages
packages/
*.nupkg

# IDE specific files
.vs/
.vscode/
.idea/
.env
.DS_Store
Library/

# Environment specific files
appsettings.{Development,Production}.json
appsettings.Development.json