.setupContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  gap: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.setupTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.5em;
  margin-bottom: 3em;
}

.setupArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}

.setupEntry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5em;

  /* border: 1px solid lightgreen; */
}
