.bookCardContainer {
  position: relative;
  background: var(--card);
  box-shadow: var(--shadow-elevation-high);
  transition:
    background 0.2s ease-in-out,
    outline 0.2s ease-in-out,
    outline-offset 0.2s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.bookCardContainer.selected {
  outline: 3px solid var(--primary);
  outline-offset: -3px;
  background: var(--secondary);
}

.bookControlsBottomRow {
  position: absolute;
  bottom: -15px;
  left: 0;
  z-index: 12;
  width: 100%;
  padding: 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.2s ease-in-out;
}

.bookControlsIsRead {
  padding: 2%;
}

.bookIcon {
  color: var(--primary);
}

.bookCover {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 4%;
  overflow: hidden;
  background-color: var(--library-active-bg);
  transition: padding 0.2s ease-in-out;
}

.bookCover img {
  width: 90%;
  height: auto;
  object-fit: contain;
}

.bookCover.selected {
  padding: 8%;
}

.infoBox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--menu-background);
  backdrop-filter: blur(3px);
  padding-top: 0.5em;
  padding-left: 0.2em;
  padding-right: 0.1em;
}

.infoTextContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  width: 100%;
}

.textContainer {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
}
