.headerBannerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.2em;
  margin-left: 1em;
  margin-right: 1.5em;
  margin-bottom: 0;
  padding-bottom: 0;
  max-height: 4em;
  border-bottom: 1px solid var(--muted-foreground);
  flex-shrink: 0;
}

.menuContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.25em;
  /* border: 1px solid lightgreen; */
}

.mainDropDownMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
}
